#list{
    margin-bottom: 25px;
    font-weight: 500;
    font-size: 15px;
    color:rgb(32, 73, 109)
}
#first-col{
    background: rgb(12, 12, 53);
}
#logo-det{
    margin-bottom: 20px;
    font-size: 35px;
    font-weight: 500;
    margin-top: 20px;
    
}
#text{
    color: aliceblue;
}
#report{
    margin-top: 25px;
    background: red;
}
#report_box{
    color:aqua;
    margin-top: 65px;
    margin-bottom: 50px;
    background: #5B5C5E;
    border-radius: 12px;
}
#report-color{
    background-color: rgb(204, 40, 18);
}
#report_button{
    background-color: #EEB955;
}
#img{
    width: 50px;
    height: 50px;
}

#col-two{
    background: rgb(243, 242, 242);
}
#home{
   
    margin-bottom: 200px;
}
#home-two{
    background: rgb(129, 48, 48);
}
#home-three{
    background: rgb(180, 189, 236);
}
#red-c{
    color: red;
}
#green-c{
    color: green;
}

#logo-det{
    background: #cce5ff;
    color: #66b0ff;
}
