/* #colo{
    background: aquamarine;
}
#space{
    margin-left: 50px;
}
#logo-det{
    font-size: 35px;
    font-weight: 500;
    margin-top: 20px;
    margin-right: 20px;
    background: aquamarine;
} */